/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
   text-align: center;
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

#chat-box {
  padding:6px 0px;
  height: 600px;
  overflow-y: auto;
  margin: 20px 0px;
}

.carousel-control-prev,
.carousel-control-next{
  width:20px;
  height: 20px;
  background-color: none;
  top:calc(-20% -25%);
  opacity:.8;
}

.carousel-control-next{
  left: unset;
  right: -30px;
}

.carousel-control-prev{
  left: -30px;
  right: unset;
}
